body {
    margin: 0 auto 0 auto
}

h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.card-body{
    margin-bottom: 2rem;
}

.card-text {
    margin-bottom: 0rem;
}

form {
    display: flex;
    margin-right: 1rem;
    
}

input {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: .5rem;
    width: 100%;
    margin-left: .5rem;
}

.nav {
    text-align: center;
    justify-content: center;
}

.home-info {
    font-size: 2rem;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 auto;
}

.home-img {
    height: 25rem;
    width: auto;
    margin: 0 auto 0 auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.new-trail {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    margin-bottom: 2rem;    
}

.new-img {
    display: flex;
    width: 85%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;

}